# 1. Ignore everything by default
*

# 2. Whitelist essential files for the application
!alembic.ini
!pyproject.toml
!uv.lock
!Dockerfile

# 3. Whitelist essential directories AND THEIR CONTENTS
!src/
!migrations/
