/**
* @project Secretaria da Fazenda do Estado de São Paulo
* @project URI http://www.fazenda.sp.gov.br/
* @version 2013
* @package layout
* @author Capgemini Brasil
* @author URI http://www.br.capgemini.com/
* @copyright 2013 Capgemini Brasil
*/



/*	--------------------------------------------------
    :: Buttons
    -------------------------------------------------- */
input[type=button], input[type=submit] {
    display: block;
    padding: 8px 7px 7px 35px;
    margin-left: 15px;
    text-decoration: none;
    font: bold 13px Arial, Helvetica;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(../img/icons-buttons.png);
    -moz-box-shadow: 0 4px 2px -3px #fff inset, 0 4px 2px -3px #333;
    -webkit-box-shadow: 0 4px 2px -3px #fff inset, 0 4px 2px -3px #333;
    box-shadow: 0 4px 2px -3px #fff inset, 0 4px 2px -3px #333;
}

    input[type=button].no-icon, input[type=submit].no-icon {
        padding-left: 7px;
        background-image: none;
    }

    /* Botão Primário ---------- */
    input[type=button].primario, input[type=submit].primario {
        color: #fff;
        border: 1px solid #3161a9;
        background-color: #64acf3;
        text-shadow: 1px 1px 1px rgba(0,0,0,1);
    }

        input[type=button].primario:hover, input[type=submit].primario:hover, input[type=button].primario:focus, input[type=submit].primario:focus {
            background-color: #4585ce;
        }

        input[type=button].primario:active, input[type=submit].primario:active {
            background-color: #3161a9;
        }


    /* Botão Secundário ---------- */
    input[type=button].secundario, input[type=submit].secundario {
        color: #000;
        background-color: #d1d1d1;
        border: 1px solid #9c9c9c;
    }

        input[type=button].secundario:hover, input[type=submit].secundario:hover, input[type=button].secundario:focus, input[type=submit].secundario:focus {
            background-color: #c1c1c1;
        }

        input[type=button].secundario:active, input[type=submit].secundario:active {
            background-color: #b3b3b3;
        }


    /* Botão Desabilitado ---------- */
    input[type=button].disable, input[type=submit].disable {
        color: #999;
        cursor: default;
        background-color: #d1d1d1;
        border: 1px solid #9c9c9c;
    }



    /* Ícones ---------- */
    input[type=button].consultar, input[type=submit].consultar {
        background-position: 5px 0;
    }

    input[type=button].gerar, input[type=submit].gerar {
        background-position: 5px -31px;
    }

    input[type=button].adicionar, input[type=submit].adicionar {
        background-position: 5px -62px;
    }

    input[type=button].excluir, input[type=submit].excluir {
        background-position: 5px -93px;
    }

    input[type=button].confirmar, input[type=submit].confirmar {
        background-position: 5px -124px;
    }

    input[type=button].avancar, input[type=submit].avancar {
        background-position: 5px -496px;
    }

    input[type=button].cancelar, input[type=submit].cancelar {
        background-position: 5px -155px;
    }

    input[type=button].salvar, input[type=submit].salvar {
        background-position: 5px -186px;
    }

    input[type=button].imprimir, input[type=submit].imprimir {
        background-position: 5px -217px;
    }

    input[type=button].voltar, input[type=submit].voltar {
        background-position: 5px -248px;
    }

    input[type=button].agendar, input[type=submit].agendar {
        background-position: 5px -279px;
    }

    input[type=button].download, input[type=submit].download {
        background-position: 5px -310px;
    }

    input[type=button].visualizar, input[type=submit].visualizar {
        background-position: 5px -341px;
    }

    input[type=button].remessa, input[type=submit].remessa {
        background-position: 5px -372px;
    }

    input[type=button].pagamento, input[type=submit].pagamento {
        background-position: 5px -403px;
    }

    input[type=button].filtro, input[type=submit].filtro {
        background-position: 5px -434px;
    }

    input[type=button].editar, input[type=submit].editar {
        background-position: 5px -465px;
    }

    input[type=button].alterar, input[type=submit].alterar {
        background-position: 5px -527px;
    }

    input[type=button].endereco, input[type=submit].endereco {
        background-position: 5px -558px;
    }

    input[type=button].exportar, input[type=submit].exportar {
        background-position: 5px -589px;
    }

    input[type=button].reg-pgto, input[type=submit].reg-pgto {
        background-position: 5px -620px;
    }

    input[type=button].processamento, input[type=submit].processamento {
        background-position: 5px -651px;
    }

    input[type=button].cesta, input[type=submit].cesta {
        background-position: 5px -682px;
    }

    input[type=button].dare, input[type=submit].dare {
        background-position: 5px -713px;
    }
