html, body{height:100%;}
body{margin:0em;font-family:Verdana, Arial;text-align:center;height:100%;}
input[type=text], input[type=password], select, input[type=textarea]{border-style:solid;border-width:1px;}
input[type=button], input[type=submit]{display:block;padding:8px 7px 7px 35px;margin-left:15px;text-decoration:none;font:bold 13px Arial, Helvetica;text-align:center;background-repeat:no-repeat;background-image:url(../../img/icons-buttons.png);-moz-box-shadow:0 4px 2px -3px #fff inset, 0 4px 2px -3px #333;-webkit-box-shadow:0 4px 2px -3px #fff inset, 0 4px 2px -3px #333;box-shadow:0 4px 2px -3px #fff inset, 0 4px 2px -3px #333;border:1px solid #cccccc;}
a{text-decoration:none;font-weight:bold;font-size:90%;color:#FF0000;}
h1{color:#999999;font-size:150%;}
h2{font-size:150%;}
.negrito{font-weight:bold;}
.titleGray{font-size:150%;color:#999999;}
.paragrafoCentralizado{position:relative;top:40%;height:10;text-align:center;}
.bordaRedonda{-moz-border-radius-topleft:0.4em;-webkit-border-top-left-radius:0.4em;border-top-left-radius:0.4em;-moz-border-radius-topright:0.4em;-webkit-border-top-right-radius:0.4em;border-top-right-radius:0.4em;-moz-border-radius-bottomleft:0.4em;-webkit-border-bottom-left-radius:0.4em;border-bottom-left-radius:0.4em;-moz-border-radius-bottomright:0.4em;-webkit-border-bottom-right-radius:0.4em;border-bottom-right-radius:0.4em;}
.msgErro{font-size:80%;font-weight:bold;color:Red;}
#divHeader{top:0em;left:0em;padding:0em;height:9em;width:100%;border-bottom:0.2em solid #000000;}
#divTopImage{top:0;padding:0;height:5em;border-bottom:solid 0.1em;}
@media screen{#divTitle{height:3em;margin-top:0.6em;}
#divHeader{top:0em;left:0em;padding:0em;height:9em;width:100%;border-bottom:0.2em solid #000000;}
#divFooter{padding:0em;bottom:0em;left:0em;height:2.5em;width:100%;vertical-align:text-top;text-align:center;background-color:#808080;color:#FFFFFF;}
}
@media print{#divTitle{display:none;visibility:hidden;}
#divHeader{top:0em;left:0em;padding:0em;height:5em;width:100%;}
#divFooter{display:none;visibility:hidden;}
}
#divContent{text-align:center;z-index:1000;}
#frm{text-align:left;}
#ConteudoPagina{margin:1em;}