div.pnlDadosNFe1{margin-left:160px;padding-top:20px;width:800px;}
div.pnlDadosNFe2{margin-left:90px;padding-top:20px;width:800px;}
div.pnlDadosResumoNFe{padding:10px;border:solid 2px #000000;width:500px;text-align:center;margin-left:70px;}
.titulo-aba-interna,
.titulo-aba,
.TituloAreaRestrita,
.TituloAreaRestrita2,
.TituloAreaRestritacentro{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;height:15px;font-weight:bold;color:#EC1616;background-color:#F0F0F0;text-align:left;border-bottom:1px solid silver;border-top:1px solid silver;}
.TituloAreaRestritacentro{font-size:12px;text-align:center;}
.textoVerdana7,
.textoVerdana7bold,
.textoVerdana8,
.textoVerdana8bold{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:7pt}
.textoVerdana8,
.textoVerdana8bold{font-size:8pt}
.textoVerdana7bold,
.textoVerdana8bold{font-weight:bold;}
.fixo-nfe-cpf-cnpj,
.TextoFundoBrancoNegrito{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;color:#000000;font-weight:bold;}
.botao_fechar{position:absolute;top:12px;left:860px;}
.linhaCartaCorrecao,
.linha{color:#000000;font-weight:normal;border-top:1px solid #333333;border-top-color:Transparent;border-left:1px solid #333333;border-left-color:Transparent;background-color:#EEEEEE;font-size:10px;display:block;background-position:center;min-height:1.5em;padding:2px 2px 2px 6px;}
.linhaHeader{color:#000000;font-weight:normal;border-top:1px solid #333333;border-top-color:Transparent;border-left:1px solid #333333;border-left-color:Transparent;background-color:transparent;font-size:10px;display:block;background-position:center;min-height:1.5em;padding:2px 2px 2px 6px;}
.chaveAcesso{font-size:15px;font-weight:bold;margin-bottom:5px;float:left;}
div.captchaBordaConteudo{text-align:left;vertical-align:middle;display:inline-block;margin:10px 0 10px 0;width:500px;float:left;}
div.captchaBordaConteudo #ImageRand{margin:0px;float:left;padding:0px;}
div.captchaGerarNovaImagem{padding-top:5px;float:left;text-align:center;width:180px;}
div.captchaDigitarImagem{display:inline;float:right;margin-right:268px;padding-top:5px;}
.captchaLabelDigitarCaracteres{margin:0;padding:0;font-size:12px;font-weight:normal;}