/**
* Complemento ao arquivo sefaz_nfce.css
*/

.panelConsulta {
    width:720px;
}

.corTextoErro {
    color: Red;
}

.corTextoMensagem {
    color: black;
}

div.ui-widget-header-info {
    border: 1px solid #4297d7;
    background: #2191c0 url(../images/ui-bg_gloss-wave_75_2191c0_500x100.png) 50% 50% repeat-x;
    color: #eaf5f7;
    font-weight: bold;
}


div.ui-widget-header-info .ui-icon {
    width: 16px;
    height: 16px;
    background-image: url(../images/ui-icons_0078ae_256x240.png);
}

.gridView {
    color: #5a5a5a;
    margin: 10px auto;
    border: 0 none !important;
    border-spacing: 2px;
    border-color: gray;
}

.gridView tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.gridView tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.gridView .HeaderStyle th
{
    background: #ececec;
    text-align: left;
    font-weight: bold;
    font-size: 11px;
    padding: 8px 10px 9px;
    border: 1px solid #999999;
}

.gridView a
{
    color: #31467F;
}

.RowStyle {
    background: #f7f7f7;
}

.AlternatingRowStyle {
    background: #fff;
}

.RowStyle td, .AlternatingRowStyle td {
    border: 1px solid #999999;
    font-size: 12px;
    padding: 4px 14px;
}

.AlternatingRowStyle td {
    border: 1px solid #999999;
    font-size: 12px;
    padding: 4px 14px;
}

.PagerStyle td {
    background: #ececec;
    border: 1px solid #999999;
    vertical-align: middle;
    padding: 0 10px;
    text-align: center;
}

.gridView .paginacao
{
    margin: 0 auto;
    display: table;
}
.gridView .paginacao a{
    float:left;    
    font-size: 12px;   
}

.gridView .paginacao .numerosPaginacao
{
    float: left;
    max-width: 812px;
}

.gridView .paginacao .numerosPaginacao a{
    padding: 5px 7px;    
}

.gridView .paginacao a.selecionado
{
    color: #888;
    font-weight:bold;
    text-decoration:none;
}

/* Box Busca Avançada e Box Padrao ---------- */
.box-padrao {
    /* Gradient */
    background: -moz-linear-gradient(top, #fdfdfd 0%, #e6e6e6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fdfdfd 0%,#e6e6e6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fdfdfd 0%,#e6e6e6 100%); /* IE10+ */
    background: linear-gradient(top, #fdfdfd 0%,#e6e6e6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
    /* Box Shadow */
    -webkit-box-shadow: 0 4px 2px -3px #333;
    -moz-box-shadow: 0 4px 2px -3px #333;
    box-shadow: 0 4px 2px -3px #333;
}
