html{position:relative;font:0.688em Arial, Helvetica, sans-serif;color:#333333;overflow:scroll-y;background:#ffffff;}
a, a:link{font-weight:bold;color:#333333;text-decoration:none;line-height:inherit;}
a:hover, a:focus{color:#cc0000;text-decoration:underline;}
a:hover, a:active{outline:none;}
p a, p a:visited{line-height:inherit;}
.left{display:inline;float:left !important;}
.right{display:inline;float:right !important;}
.hide{display:none !important;}
.fullsize{width:100% !important;max-width:100% !important;}
.nm-top{margin-top:0 !important;}
.nm-left{margin-left:0 !important;}
.nm-right{margin-right:0 !important;}
.nm-bottom{margin-bottom:0 !important;}
.no-margin{margin:0 !important;}
.np-top{padding-top:0 !important;}
.np-left{padding-left:0 !important;}
.np-right{padding-right:0 !important;}
.np-bottom{padding-bottom:0 !important;}
.no-padding{padding:0 !important;}
.relative{position:relative;}
strong{font-weight:bold;}
.controls-row{display:inline;float:left;width:100%;}
.FormFormat{display:inline;float:left;width:100%;}
.FormFormat fieldset{display:inline;float:left;}
.FormFormat .box-consulta{display:inline;float:left;width:960px;padding:10px;border-bottom:1px solid #d5d5d5;border-top:1px solid #d5d5d5;background:#f2f2f2;}
.FormFormat label{display:inline;float:left;width:inherit;margin:0 0 15px 0;color:#333;font-size:1.000em;line-height:1.3em;vertical-align:middle;}
.FormFormat fieldset label strong{display:inline;float:left;width:100%;margin:0 0 0 0;padding:0;font-size:90%;}
.FormFormat input[type="text"], .FormFormat input[type="password"], .FormFormat input[type="file"], .FormFormat textarea, .FormFormat select{display:inline;float:left;width:100%;border-color:#c6c6c6 #dadada #eaeaea;background:#fff;color:#333;font-size:1.000em;font-family:inherit;font-weight:bold;vertical-align:middle;line-height:1.1em;padding:5px;border-style:solid;border-width:1px;}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly]{cursor:not-allowed;color:#c6c6c6 !important;background-color:#eeeeee !important;}
input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"][readonly], input[type="checkbox"][readonly]{cursor:not-allowed;}
.FormFormat select{padding:5px 5px 3px 5px;border-color:#c6c6c6 #dadada #eaeaea;background:#fff;color:#333;}
.FormFormat textarea{height:10em;}
.FormFormat form-txt:hover, .FormFormat input[type="text"]:hover, .FormFormat input[type="password"]:hover, .FormFormat input[type="file"]:hover, .FormFormat textarea:hover, .FormFormat select:hover{color:#333;background:#fafafa none;border-color:#c6c6c6;}
.FormFormat form-txt:focus, .FormFormat input[type="text"]:focus, .FormFormat input[type="password"]:focus, .FormFormat input[type="file"]:focus, .FormFormat textarea:focus, .FormFormat select:focus{color:#333;background:#fafafa none;border-color:#659ec9 #70aedd #a8cfec;outline:0;}
.formDataDeAte{display:inline;float:left;width:280px;margin:0 20px;}
.formDataDeAte label{width:45%;margin-right:0;}
.formDataDeAte em{display:inline;float:left;margin:0 10px;padding-top:5px;font-style:normal;}
.formDataDeAte strong{display:inline;float:left;width:100%;margin:0 0 1px 0;padding:0;font-size:90%;}
.controls-row [class*="size"]{float:left;}
.controls-row [class*="size"] + [class*="size"]{margin-left:20px;}
.FormFormat .size-micro{width:6.45%;}
.FormFormat .size-mini{width:14.96%;}
.FormFormat .size-small{width:31.97%;}
.FormFormat .size-medium{width:48.98%;}
.FormFormat .size-large{width:65.99%;}
.FormFormat .size-xlarge{width:82.99%;}
.FormFormat .size-xxlarge{width:100%;}
.label-busca-avancada{display:inline;float:right;margin:0;}
.box-busca-avancada .size-medium{width:47.98%;}
.box-busca-avancada .size-xlarge{width:80.99%;}
.label-busca-avancada button{display:inline;float:left;}
.label-busca-avancada .btn-avancada{position:absolute;right:8px;bottom:-1px;padding:5px 11px 10px 11px;color:#2567aa;}
.label-busca-avancada .btn-avancada:active, .label-busca-avancada .btn-avancada:focus{padding:5px 10px 10px 10px;border:1px solid #cccccc;border-bottom:0;background:#fefefe;text-decoration:none;}
.table{display:inline;float:left;width:100%;margin-top:30px;}
.tabela{display:inline;float:left;width:980px;overflow:auto;}
.tabela table{width:200%;text-align:center;border-collapse:collapse;border-left:1px solid #e0e0e0;}
.tabela table th{padding:18px 5px;font-size:1.091em;font-weight:normal;color:#333;text-align:center;border:1px solid #e0e0e0;border-left:0;background:#fdfdfd;}
.tabela table td{padding:12px 10px;color:#333;text-align:center;border-bottom:1px solid #e0e0e0;border-top:1px solid transparent;border-right:1px solid #e0e0e0;}
.tabela table tr:nth-child(odd){background-color:#f5f5f5;}
.tabela table tr:nth-child(even){background-color:#fff;}
.tabela table tr:hover td, .tabela table tr:focus td, .tabela table tr:active td{color:#fff;background:#333;}
.tabela table label{margin:0 !important;padding:10px !important;}
header{position:relative;display:table;margin:0 auto;width:980px;background:url(../img/header-bg.png) no-repeat top;background-color:#e5e4e5;height:95px;}
header h2{position:absolute;right:10px;top:55px;font:bold 18px Verdana, Geneva, sans-serif;color:#6f6f6f;}
header .access{display:inline;float:left;width:880px;padding-left:100px;font-weight:bold;}
.access li a{display:inline;float:left;margin:0 15px 0 0;padding:8px 0;}
.access li a span{padding:7px 0 3px 25px;background-image:url(../img/icons-layout.png);}
.access .wheelchair a span{background-position:-212px -40px;}
.access .wheelchair a:hover > span, .access .wheelchair a:active > span, .access .wheelchair a:focus > span{background-position:-212px -5px;}
.access .skip-content a span{background-position:-252px -40px;}
.access .skip-content a:hover > span, .access .skip-content a:active > span, .access .skip-content a:focus > span{background-position:-252px -5px;}
.access .contraste a span{background-position:-291px -40px;}
.access .contraste a:hover > span, .access .contraste a:active > span, .access .contraste a:focus > span{background-position:-291px -5px;}
.access .txt-size-menos a{margin-right:5px;}
.access .txt-size-menos a span{padding-left:18px;background-position:-400px -40px;}
.access .txt-size-menos a:hover > span, .access .txt-size-menos a:active > span, .access .txt-size-menos a:focus > span{background-position:-400px -5px;}
.access .txt-size-mais a span{padding-left:25px;background-position:-418px -40px;}
.access .txt-size-mais a:hover{color:#000;text-decoration:none;}
.access .txt-size-mais a:hover > span, .access .txt-size-mais a:active > span, .access .txt-size-mais a:focus > span{background-position:-418px -5px;}
.access .logout a{float:right;margin-right:0;}
.access .logout a span{margin-left:5px;background-position:-373px -40px;}
.access .logout a:hover > span, .access .logout a:active > span, .access .logout a:focus > span{background-position:-373px -5px;}
.nav, .nav ul{margin:0;padding:0;list-style:none;position:relative;}
.tinynav{display:none;}
.nav{float:left;margin:66px 0 0 0;width:980px;border-top:1px solid #bebebe;border-bottom:1px solid #fff;background:#cccccc;}
.nav ul{position:absolute;top:38px;left:-9999px;opacity:0;width:220px;background:#333333;}
.nav li{float:left;position:relative;}
.nav li > a{float:left;padding:12px 10px;border-left:1px solid #f4f4f4;border-right:1px solid #b8b8b8;color:#333333;font-weight:bold;font-size:1.000em;font-size-adjust:0.45;text-decoration:none;text-transform:uppercase;}
.nav li > a:first:child{border-left:0;border-right:0;}
.nav li > a:hover, .nav li > a:focus, .nav li:focus > a, .nav li:hover > a{background:#333333;outline:0;color:#ffffff;text-decoration:underline;}
.nav li:hover ul, .nav li:focus ul, ul.show-menu{left:1px;opacity:1;}
.nav ul li{float:none;position:relative;border-top:1px inset #666;}
.nav ul a{float:none;display:block;color:#fff;font-size:1.000em;}
.nav ul li a:hover, .nav ul li a:focus{color:#ffffff;padding-left:5px;border-left:5px solid #cc0000 !important;background:#000;;}
ul.show-menu li > a{padding:13px 10px;border-right:0;border-left:0;}
ul.show-menu li:hover > a{border-right:0;border-left:5px solid #cc0000 !important;padding-left:5px;}
.nav ul li a.icon-subitem{border-left:5px solid #cc0000 !important;padding-left:5px;background:url(../img/header-submenu-arrow.png) no-repeat 200px center;}
.nav ul li a.icon-subitem:hover, .nav ul li a.icon-subitem:focus{background:url(../img/header-submenu-arrow.png) no-repeat 200px center #000;}
.nav ul .subitem{display:none;top:-1px !important;}
.nav ul li:hover > .subitem{display:block !important;position:absolute;top:0;left:220px !important;width:220px;border-left:1px solid #fff;}
header .breadcrumb{display:inline;float:left;width:970px;padding-left:10px;font-size:0.909em;border-bottom:2px solid #cc0000;border-top:1px solid #BEBEBE;background:#e6e6e6;}
header .breadcrumb dt, header .breadcrumb dd{display:inline;float:left;padding:6px 5px 6px 0;}
header .breadcrumb dd, header .breadcrumb dd a{margin-top:0;padding:6px 10px 6px 25px;background:url(../img/icons-layout.png) no-repeat -455px 0;}
header .breadcrumb dd a{padding-left:0;padding-right:0;background:none;}
header .breadcrumb .crumb-home{padding-bottom:0;padding-left:30px;}
header .breadcrumb .crumb-home a{display:inline;float:left;width:20px;height:20px;padding:0;text-indent:-9999px;background:url(../img/icons-layout.png) no-repeat -331px -45px;}
header .breadcrumb .crumb-home a:hover, header .breadcrumb .crumb-home a:active, header .breadcrumb .crumb-home a:focus{background-position:-331px -10px;}
header .breadcrumb .crumb-lvl-B{font-size:1.000em;font-weight:bold;color:#cc0000;}
.container{position:relative;display:table;margin:0 auto;width:980px;padding-bottom:90px}
.container h1{display:inline;float:left;width:960px;margin:10px;font-size:1.818em;font-weight:bold;}
.line-top-box{position:absolute;top:-1px;right:0;width:41px;height:1px;background:#fbfbfb;}
.box-consulta.dare .box-alinhamento{margin:0 20px 0 0;padding:10px 15px 10px 0;background:url(../img/default-line-separator-vertical.png) repeat-y top right;}
.box-consulta.dare .box-alinhamento.size-medium{width:44.99%;}
.box-consulta.dare .filtrar{display:inline;float:left;padding-top:15px;}
.filtrar p{font-size:90%;font-weight:bold;}
.filtrar label{margin:0 10px 0 0;}
.box-consulta.dare label.size-medium{width:43.64%;}
.box-consulta.dare button{margin:15px 0 0 0;}
.box-padrao{display:block;float:left;width:auto;height:auto;margin-bottom:30px;padding:20px;border:1px solid #cccccc;background:#fdfdfd;}
.box-padrao h3{display:inline;float:left;width:100%;margin-bottom:15px;padding-bottom:5px;font-size:1.364em;font-weight:bold;background:url(../img/default-line-separator.png) bottom repeat-x;}
.box-padrao p{display:inline;float:left;width:100%;margin-bottom:10px;font-size:1.000em;}
.controls-row [class*="box"]{float:left;}
.controls-row [class*="box"] + [class*="box"]{margin-left:30px;}
.box-padrao.box-2{width:44.15%;}
.box-padrao.box-3{width:27%;}
.box-padrao.box-4{width:18.4%;}
.box-busca-avancada{position:absolute;right:8px;top:76px;display:table;width:555px;padding:20px 10px 20px 10px;border:1px solid #cccccc;border-top:0;background:#fdfdfd;z-index:200;}
.box-busca-avancada .box-botoes{display:inline;float:right;width:100%;padding-top:15px;background:url(../img/default-line-separator.png) top repeat-x;}
.box-botoes .btn-cancelar{display:inline;float:right;margin:23px 15px 0 0;color:#2567aa;font-weight:bold;text-decoration:underline;}
.box-botoes .btn-cancelar:hover, .box-botoes .btn-cancelar:focus{color:#cc0000;text-decoration:none;}
.table .table-tools{display:table;float:left;width:940px;margin:0 10px;padding:0 10px;border:1px solid #e0e0e0;border-bottom:0;background:#f2f2f2;}
.table-tools .total-registros{display:inline;float:left;padding-top:10px;}
.table-tools .total-registros strong{float:none;width:auto;margin:0;font-size:1.091em;}
.table-tools .tools{position:relative;display:inline;float:right;}
.table-tools .tools label{padding:6px 0 5px 10px;border-left:1px solid #e0e0e0;}
.table-tools .tools label select{margin:3px 0;padding:0;}
.table-tools .tools a.item{display:inline;float:left;width:40px;height:35px;padding:0;border-left:1px solid #e0e0e0;border-right:1px solid #fff;text-indent:-9999px;}
.table-tools .tools a.item:hover, .table-tools .tools a.item:active, .table-tools .tools a.item:focus{background-color:#fefefe;}
.tools .tool-save{background:url(../img/icons-layout.png) -40px 0 no-repeat;}
.tools .tool-save:hover, .tools .tool-save:active, .tools .tool-save:focus{background-position:-40px -34px;}
.box-tool-save{position:absolute;left:-69px;top:36px;min-width:90px;padding:10px 10px 0 10px;border:1px solid #e0e0e0;border-top:0;background:#fdfdfd;}
.box-tool-save a{display:inline;float:left;width:100%;padding:5px 0;margin-bottom:10px;color:#333;font-weight:bold;}
.box-tool-save a span{padding:10px 0 10px 25px;background-image:url(../img/icons-layout.png);}
.box-tool-save .save-pdf a span{background-position:-12px -71px;}
.box-tool-save .save-pdf a:hover > span, .box-tool-save .save-pdf a:active > span, .box-tool-save .save-pdf a:focus > span{background-position:-12px -106px;}
.box-tool-save .save-xls a span{background-position:-50px -71px;}
.box-tool-save .save-xls a:hover > span, .box-tool-save .save-xls a:active > span, .box-tool-save .save-xls a:focus > span{background-position:-50px -106px;}
.box-tool-save .save-doc a span{background-position:-92px -71px;}
.box-tool-save .save-doc a:hover > span, .box-tool-save .save-doc a:active > span, .box-tool-save .save-doc a:focus > span{background-position:-92px -106px;}
.box-tool-save .save-txt a span{background-position:-132px -71px;}
.box-tool-save .save-txt a:hover > span, .box-tool-save .save-txt a:active > span, .box-tool-save .save-txt a:focus > span{background-position:-132px -106px;}
.box-tool-save .save-zip a span{background-position:-172px -71px;}
.box-tool-save .save-zip a:hover > span, .box-tool-save .save-zip a:active > span, .box-tool-save .save-zip a:focus > span{background-position:-172px -106px;}
.tools .tool-print{background:url(../img/icons-layout.png) -80px 0 no-repeat;}
.tools .tool-print:hover, .tools .tool-print:active, .tools .tool-print:focus{background-position:-80px -34px;}
.tools .tool-add{background:url(../img/icons-layout.png) -200px -70px no-repeat;}
.tools .tool-add:hover, .tools .tool-add:active, .tools .tool-add:focus{background-position:-200px -104px;}
.tools .tool-edit{background:url(../img/icons-layout.png) -120px 0 no-repeat;}
.tools .tool-edit:hover, .tools .tool-edit:active, .tools .tool-edit:focus{background-position:-120px -34px;}
.tools .tool-edit.disable{background:url(../img/icons-layout.png) -200px -210px no-repeat;}
.tools .tool-view{background:url(../img/icons-layout.png) -240px -70px no-repeat;}
.tools .tool-view:hover, .tools .tool-view:active, .tools .tool-view:focus{background-position:-240px -103px;}
.tools .tool-view.disable{background:url(../img/icons-layout.png) -240px -140px no-repeat;}
.tools .tool-info{background:url(../img/icons-layout.png) -280px -70px no-repeat;}
.tools .tool-info:hover, .tools .tool-info:active, .tools .tool-info:focus{background-position:-280px -103px;}
.tools .tool-info.disable{background:url(../img/icons-layout.png) -280px -140px no-repeat;}
.tools .tool-report{background:url(../img/icons-layout.png) -320px -70px no-repeat;}
.tools .tool-report:hover, .tools .tool-report:active, .tools .tool-report:focus{background-position:-320px -103px;}
.tools .tool-report.disable{background:url(../img/icons-layout.png) -320px -140px no-repeat;}
.tools .tool-calc{background:url(../img/icons-layout.png) -360px -70px no-repeat;}
.tools .tool-calc:hover, .tools .tool-calc:active, .tools .tool-calc:focus{background-position:-360px -103px;}
.tools .tool-calc.disable{background:url(../img/icons-layout.png) -360px -140px no-repeat;}
.tools .tool-oficio{background:url(../img/icons-layout.png) -400px -70px no-repeat;}
.tools .tool-oficio:hover, .tools .tool-oficio:active, .tools .tool-oficio:focus{background-position:-400px -103px;}
.tools .tool-oficio.disable{background:url(../img/icons-layout.png) -400px -140px no-repeat;}
.tools .tool-gerar{background:url(../img/icons-layout.png) -440px -70px no-repeat;}
.tools .tool-gerar:hover, .tools .tool-gerar:active, .tools .tool-gerar:focus{background-position:-440px -103px;}
.tools .tool-gerar.disable{background:url(../img/icons-layout.png) -440px -140px no-repeat;}
.tools .tool-delete{background:url(../img/icons-layout.png) -160px 0 no-repeat;}
.tools .tool-delete:hover, .tools .tool-delete:active, .tools .tool-delete:focus{background-position:-160px -34px;}
.tools .tool-delete.disable{background:url(../img/icons-layout.png) -40px -210px no-repeat;}
.tools .tool-delete.disable:hover, .tools .tool-delete.disable:active, .tools .tool-delete.disable:focus{background:url(../img/icons-layout.png) -40px -210px no-repeat;}
#tooltip{position:absolute;padding:15px;text-align:center;color:#fff;background:#333;z-index:100;}
.table-wrapper{position:relative;display:inline;float:left;}
.table-menu-wrapper{position:absolute;top:30px;right:457px;}
.table-menu{position:absolute;right:-1px;top:37px;width:200px;padding:10px 10px 0 10px;border:1px solid #e0e0e0;border-top:0;background:#fdfdfd;}
.table-menu-hidden{left:-999em;right:auto;}
.table-wrapper .table-menu-btn{display:inline;float:left;width:40px;height:35px;border-top:1px solid #e0e0e0;border-right:1px solid #fff;}
.table-menu ul{display:inline;float:left;width:100%;}
.table-menu li{padding:.3em 0;}
.table-menu label{width:100%;margin-right:0;}
.table-menu label:hover{font-weight:bold;}
.table-menu label input{float:left;margin-right:5px;}
.tool-table{text-indent:-9999px;border-left:0 !important;background:url(../img/icons-layout.png) 0 0 no-repeat;}
.tool-table:hover, .tool-table:active, .tool-table:focus{background-position:0 -35px;border-left:1px solid #e0e0e0 !important;border-bottom:1px solid #e0e0e0;background-color:#fefefe;}
nav.page{display:inline;float:right;margin-top:30px;}
nav.page ul{text-align:center;}
nav.page ul li{display:inline;margin:0 4px 0 0;}
nav.page ul li a{padding:6px 8px;font-weight:bold;border:1px solid #e0e0e0;background:#fff;}
nav.page ul li a:hover, nav.page ul li a:focus, nav.page ul li a:focus, nav.page ul li a.active{color:#cc0000;background:#e6e6e6;border-color:#e0e0e0;}
.container .accordion{position:relative;overflow:hidden;width:97.8%;padding:10px;}
.accordion.box-padrao.box-2{width:46.15% !important;}
.accordion.box-padrao.box-3{width:29% !important;}
.accordion.box-padrao.box-4{width:20.4% !important;font-size:80%;}
.collapse{float:left;width:100%;padding:20px 0 0 0;background:url(../img/default-line-separator.png) top repeat-x;}
.collapse li{display:inline;float:left;width:100%;margin-bottom:10px;font-size:110%;}
.collapse li em{display:inline;float:left;width:120px;margin-right:10px;text-align:right;}
.expand{margin-bottom:0 !important;padding-bottom:0 !important;background:none !important;}
.expand a{background:url(../img/icon-accordion-down.png) no-repeat 100% 50%;}
.expand a:hover, .expand a:focus, .expand a:active{text-decoration:none;color:#333333;}
.expand a.open{margin-bottom:5px;background:url(../img/icon-accordion-up.png) no-repeat 100% 50%;}
.box-modal .table-wrapper{font-size:90%;}
.box-modal .tabela{width:880px;}
.box-modal .table .table-tools{width:840px;}
.box-modal .table-menu-wrapper{right:377px;}
.container .abas{display:inline;float:left;width:980px;margin:20px 0 0 0;padding:0 !important;border:none !important;}
.abas .ui-tabs-panel{display:inline !important;float:left !important;margin:20px 0 0 10px !important;padding:0 !important;}
.abas ul{position:relative !important;padding:0 !important;border:1px solid #e0e0e0 !important;border-radius:0 !important;background:#f2f2f2 !important;}
.abas ul li{top:0 !important;margin:0 !important;padding:0 !important;border:0 !important;border-radius:0 !important;background:url(../img/dare-breadcrumb.png) no-repeat right transparent !important;}
.abas ul li a{padding:1em 1.5em 1em 1em !important;font-weight:bold;color:#acacac !important;}
.abas ul li.dare-add a span{float:left;padding:6px 10px 10px 15px;background:url(../img/icons-layout.png) -130px 60px;}
.abas ul li.dare-add.ui-state-active a span{background:url(../img/icons-layout.png) -130px 95px;}
.abas ul li.dare-con a span{float:left;padding:6px 10px 10px 15px;background:url(../img/icons-layout.png) -10px 60px;}
.abas ul li.dare-con.ui-state-active a span{background:url(../img/icons-layout.png) -10px 95px;}
.abas ul li.dare-dad a span{float:left;padding:6px 10px 10px 15px;background:url(../img/icons-layout.png) -50px 60px;}
.abas ul li.dare-dad.ui-state-active a span{background:url(../img/icons-layout.png) -50px 95px;}
.abas ul li.dare-pag a span{float:left;padding:6px 10px 10px 15px;background:url(../img/icons-layout.png) -170px 60px;}
.abas ul li.dare-pag.ui-state-active a span{background:url(../img/icons-layout.png) -170px 95px;}
.abas ul li.ui-state-hover a{color:#333 !important;}
.abas ul li.ui-state-active a{font-weight:bold !important;color:#333 !important;background:url(../img/dare-breadcrumb.png) transparent no-repeat right;}
.abas .itens-cesta{display:inline;float:right !important;padding:13px 10px 0 0 !important;font-size:11px !important;background:none !important;}
.abas .itens-cesta em{float:left;padding:6px 10px 10px 15px;background:url(../img/icons-layout.png) -210px 96px;}
.abas .box-botoes{margin-right:10px;}
.abas .box-botoes.box-menor{margin-right:195px;}
.container.tabs{display:inline;float:left;}
.tabs > ul{display:inline;float:left;width:100%;border-bottom:4px solid #9c9c9c;}
.tabs > ul li{float:left;margin:0 10px 0 0;padding:10px;font-size:13px;font-weight:bold;cursor:pointer;color:#000;background-color:#d1d1d1;border:1px solid #9c9c9c;border-bottom:none;-moz-box-shadow:0 4px 2px -3px #fff inset;-webkit-box-shadow:0 4px 2px -3px #fff inset;box-shadow:0 4px 2px -3px #fff inset;}
.tabs > ul li.active{background-color:#b3b3b3;}
.tabs .tab-content{display:inline;float:left;width:100%;margin:5px 0 0;padding:10px;border:none !important;background-color:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.tabs .tab-content > .content-main{display:none;}
.tabs .tab-content > .content-main .box-padrao{margin-right:-2px;}
.abas .box-dare{display:inline;float:left;width:955px;margin-bottom:20px;padding:10px 0;background:#f1f1f1;}
.box-dare.jucesp{border-left:5px solid #000099;}
.box-dare .tributo{position:relative;display:inline;float:left;width:450px;min-height:100px;margin-right:20px;padding:0 20px 0 10px;background:url(../img/default-line-separator-vertical.png) repeat-y right top;}
.tributo dt{padding-bottom:15px;font-size:15px;font-weight:bold;}
.tributo dd{font-size:11px;}
.tributo dd.tributo-valor{float:right;margin-top:10px;font-size:13px;}
.tributo dd.tributo-valor strong{float:left;margin:5px 5px 0 0;font-weight:normal;}
.tributo dd.tributo-valor input{float:right;width:100px;}
.box-dare.conferir .tributo dd{padding-top:35px;}
.box-dare .acrescimos{position:relative;display:inline;float:left;width:190px;min-height:100px;margin-right:20px;padding:0 20px 0 0;font-size:10px;background:url(../img/default-line-separator-vertical.png) repeat-y right top;}
.acrescimos label{margin-bottom:5px;}
.acrescimos label strong{width:139px !important;margin:3px 5px 0 0;font-weight:normal;text-align:right;}
.acrescimos label input{float:left;width:30px !important;margin:0 !important;padding:3px !important;text-align:center;}
.acrescimos label input.moeda{width:46px !important;}
.ui-spinner{float:left;border:0px solid white;}
.box-dare.conferir .acrescimos span{display:inline;float:left;width:100%;margin-bottom:15px;text-align:right;font-weight:bold;}
.box-dare.conferir .acrescimos span strong{width:170px !important;margin:3px 5px 0 0;font-weight:normal;text-align:right;}
.box-dare .totais{position:relative;display:inline;float:left;width:210px;min-height:100px;font-size:11px;}
.totais dl{display:inline;float:left;padding-bottom:30px;background:url(../img/default-line-separator.png) repeat-x bottom;}
.totais dl dd{display:inline;float:right;}
.totais dl dd strong{display:inline;float:right;margin-left:18px;}
.totais label{position:absolute;bottom:0;right:0;width:auto;margin:0;font-size:15px;font-weight:bold;cursor:pointer;}
.totais label.checkbox{padding:2px 0 0 0 !important;}
.totais label input{margin-left:5px;}
.box-dare.conferir .totais dl{background:none !important;}
.box-dare.conferir .totais dl dd{margin-top:20px;}
.box-dare .dados-pessoais, .box-dare .pagamento{position:relative;display:table !important;float:none !important;width:520px !important;margin:0 auto;margin-bottom:30px;padding:20px;}
.dados-pessoais .radio-cpfcnpj{width:60px;cursor:pointer;margin-bottom:5px;font-size:90%;font-weight:bold;}
.dados-pessoais .radio-cpfcnpj input{margin-top:-3px;}
.dados-pessoais .size-small{width:27.33% !important;}
.dados-pessoais .size-ssmall{width:37.65% !important;}
.dados-pessoais .size-large{width:62.39% !important;}
.dados-pessoais .captcha{padding-top:10px;background:url(../img/default-line-separator.png) repeat-x top;}
.captcha img{display:inline;float:right;margin-top:4px;}
.pagamento div{display:inline;float:left;width:100%;margin-bottom:30px;padding-bottom:15px;font-size:90%;background:url(../img/default-line-separator.png) repeat-x bottom;}
.pagamento div strong{font-size:110%;}
.pagamento div h3{margin:0 !important;background:none !important;}
.pagamento [class*="bandeira"]{float:left;}
.pagamento [class*="bandeira"] + [class*="bandeira"]{margin-left:17px;}
.box-padrao.login{display:table !important;margin:0 auto !important;float:none !important;width:640px !important;padding:20px !important;}
.login .boxes-login{position:relative;display:inline;float:left;width:185px;height:250px;}
.login [class*="boxes-login"] + [class*="boxes-login"]{margin-left:20px;padding-left:20px;background:url(../img/default-line-separator-vertical.png) repeat-y left;}
.boxes-login h3{text-align:left;}
.boxes-login h4{float:left;width:100%;font-weight:bold;}
.boxes-login p{float:left;width:100%;margin:20px 0 0 0;text-align:center;}
.boxes-login p.acesso{margin-top:60px;}
.boxes-login .saiba-mais{font-size:90%;color:#00F;}
.boxes-login img{margin-top:30px;-moz-box-shadow:0 4px 2px -3px #fff inset, 0 4px 2px -3px #333;-webkit-box-shadow:0 4px 2px -3px #fff inset, 0 4px 2px -3px #333;box-shadow:0 4px 2px -3px #fff inset, 0 4px 2px -3px #333;}
.boxes-login img:hover{opacity:0.7;filter:alpha(opacity = 70);}
.boxes-login label.radio{width:30px;cursor:pointer;}
.boxes-login label.radio abbr{cursor:help;}
.boxes-login button, .boxes-login .saiba-mais{position:absolute;right:0;bottom:0;}
#footer{position:absolute;bottom:0;left:50%;margin-left:-490px;display:table;margin-top:60px;width:980px;height:60px;border-top:2px solid #cc0000;background:url(../img/footer-logo-saopaulo.png) no-repeat right center #e6e6e6;}
#footer p, footer address{display:inline;float:left;width:50%;margin:15px 0 0 10px;font-weight:bold;}
#footer address{margin-top:0;font-weight:normal;}
#footer .selos{position:absolute;top:15px;right:170px;width:200px;}
#footer .selos img{display:inline;float:left;width:80px;height:40px;margin-right:10px;}